
p{
    font-size: 50px;
    color: aqua;
}
img {
    height: 250px;
    width: 450px;
}
iframe{
    height: 315px;
    width:560px;
}
.flexbox{
    display: flex;
}

.flexbox > img{
    size-adjust: 200px;
}
